.card {
  justify-content: center;
  margin-top: 10%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.navbar {
  background-color: rgb(16, 155, 155);
  z-index: 999;
  padding: 10px;
}
img {
  height: 200px;
  width: 200px;
}
